<a href="https://colab.research.google.com/github/shyun50/oz_assignment/blob/main/chapter7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 챕터6 복습
이름 = '김소현'
나이 = 30
키 = 170
소속 = 'sh컴퍼니'
print(type(이름))
print(type(나이))
print(type(키))
print(type(소속))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>

In [ ]:
print(float(5))
print(int(5.0))
print("5","5.0")
print(type("5"), type("5.0"))

5.0
5
5 5.0
<class 'str'> <class 'str'>

str : 문자열  
특징 : 시퀀스 자료형  
시퀀스란? 요소들이 연속적으로 이어진 자료형  
값 하나하나를 요소라고 합니다.

In [ ]:
# 0 은 인덱스
# 인덱스는 위치를 나타내는 용어
# 모든 프로그래밍이 전부 0부터 시작한다!
소속 = 'sh컴퍼니'
print(소속)
print(소속[0])
print(소속[1])
print(소속[2])
print(소속[3])
print(소속[4])

sh컴퍼니
s
h
컴
퍼
니

In [ ]:
"컴" in 소속
"5" in 소속

False

In [ ]:
# 문자열 즉 시퀀스 끼리 합치기

"13" + "금요일"

In [ ]:
# 시퀀스 자료형은 복사가 가능합니다.

옛날게임 = "바니바니 당근당근" * 3
print(옛날게임)
len(옛날게임)

바니바니 당근당근바니바니 당근당근바니바니 당근당근

27

퀴즈 = "차 4대가 고장나면? 카포에라".

print(퀴즈[12:16])  

왜 끝이 15인데 16으로 하나요? -> 마지막은 +1이 된 위치를 적어주어야 합니다!

In [ ]:
퀴즈 = "차 4대가 고장나면? 카포에라"
print(퀴즈[12:16])

카포에라

In [ ]:
퀴즈[15], 퀴즈[7]

('라', '장')

In [ ]:
생년월일 = "2000.12.25"
년 = 생년월일[0:4]
월 = 생년월일[5:7]
일 = 생년월일[8:13]

print(f'{년}, {월}, {일}')

# 2000 12 25

2000, 12, 25

In [ ]:
숫자 = "123838483848939"
# 전체 출력
print(숫자[:])
print(숫자[::])
print(숫자[::-1])
print(숫자[4:1:-1])
print(숫자[1:4])

123838483848939
123838483848939
939848384838321
383
238

In [ ]:
퀴즈 = "스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이"
print( 퀴즈 [22:28])

어중이떠중이

In [ ]:
과일 = "apple"
과일 . count("p")

2

In [ ]:
과일[2]
과일. index("p")

In [ ]:
라라랜드 = "사람들은 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은 걸 상기시켜 주니까"

len(라라랜드)
print(라라랜드)
print(라라랜드[0:22])

사람들은 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은 걸 상기시켜 주니까
사람들은 다른 사람들의 열정에 끌리게 되