<a href="https://colab.research.google.com/github/shyun50/oz_assignment/blob/main/chapter5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 하나의 값을 변수에 넣을 때
num = 1
#print(num)

# 두개의 값을 변수에 넣을 때
num_1, num_2 =1, 2
print(num_1)
print(num_2)

print(num_1, num_2)

1
2
1 2

1부터 5까지의 숫자를 더하는 문제를 풀어보겠습니다.
단, 다음 숫자를 더하기 위해서 매번 새로운 줄에서 시작해야하는 조건이 있습니다.

In [5]:
# 변수를 사용하지 않을 떄
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1+2
1+2+3
1+2+3+4
1+2+3+4+5

15

In [7]:
# 변수를 사용할 때
# 이전의 계산한 결과를 저장해서 사용할 수 있음
sum = 1+2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

15

### 변수에 값을 넣는 것 -> 할당

sum = 1 + 2 -> 1+2의 계산된 결과를 sum이라는 변수에 할당한다.

sum 변수명이고 '=' 같다는 의미가 아니라 할당(assignment) 이라고 한다.

'=' : 할당 연산자
'+' : 산술 연산자

'+=' : 산술 후 바로 할당하는 문법

/= , -= , *= 모두 가능합니다.

In [8]:
# 변수를 사용하면서 사용 가능한 문법

sum = 1+2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2 = 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [9]:
# 주의 !! 선언되지 않은 변수를 사용할 경우 에러 발생
sum3 += 1

NameError: name 'sum3' is not defined

In [10]:
# 변수에 어떤값도 넣고 싶지 않고 선언하는 방법

nothing = None
print(None)

None

 ### 변수를 만드는 규칙
 영문 문자와 숫자를 사용할 수 있습니다.  
 대소문자를 구분합니다.  
 첫글자는 대문자로 쓰는걸 지향합니다.  
 문자부터 시작해야 하며 숫자부터 시작하면 안됩니다.  
 _(밑줄문자)로 시작할 수 있습니다.  
 특수문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.  
 파이썬의 키워드(it, for, while, and, or 등)는 사용할 수 없습니다.

In [11]:
# 대소문자를 구분하는 변수
BIG = '크다'
big = '작다'

print(BIG, big)

크다 작다

스네이크케이스 (snake case)  
변수명 : snake_case _ <- 뱀인가요?

카멜케이스 (camel case)  
변수명 : camelCase <- 낙타가 보이시나요?

In [12]:
# 우리는 변수를 만들때 스네이크케이스로 진행합니다. 그리고 언더바는 2개를 적용시켜주세요.
# 개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고 합니다.

box__shose = '스니커즈'
box__hat = '슈프림 모자'

print(box__shose)
print(box__hat)

스니커즈
슈프림 모자

In [14]:
#print() : 포멧팅 3가지 f-string : print(f' {변수명} ')

me = '소현이'
print(f'{me}만 강아지를 키워')

소현이만 강아지를 키워

In [ ]:
# 붕어빵 철이 돌아왔죠
# 붕어빵(팥) : 2000원 , 붕어빵(슈크림) : 2500원 , 붕어빵(잡채) : 3000원
# 무인 주문기계를 만들어 주세요
# 붕어빵(잡채) 3개, 붕어빵(슈크림) 2개를 주문하면
# "주문이 완료되었습니다. 붕어빵(슈크림) 2개, 붕어빵(잡채) 3개 총 5개 결제 금액은 14000원 입니다."
# 이 출력되도록 코드를 작성해주세요.
# 변수를 만들때 스네이크 케이스에 언더바는 2개 / print()문의 포메팅 f-string

In [4]:
# 변수값 입력
fish__p, fish__s, fish__j ="붕어빵(팥)", "붕어빵(슈크림)", "붕어빵(잡채)"
fish__p__sell, fish__s__sell, fish__j__sell = 2000, 2500, 3000
order_s, order_j = 2, 3

# 붕어빵 계산값
order_j__pay, order_s__pay = fish__j__sell * 3, fish__s__sell * 2

# 구매 총 개수
total = order_s + order_j

# 구매 총 금액
total_pay = order_s__pay + order_j__pay

# 출력
print(f'주문이 완료되었습니다. {fish__s}{order_s}개, {fish__j}{order_j}개 총 {total}개 결제금액은 {total_pay}원 입니다.')

주문이 완료되었습니다. 붕어빵(슈크림)2개, 붕어빵(잡채)3개 총 5개 결제금액은 14000원 입니다.